/* 重置样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('./images/背景.jpg'); /* 可设置登录页面背景图 */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 头部样式 */
header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/* 登录容器样式 */
.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    width: 350px; /* 固定正方形宽度 */
    height: 350px; /* 固定正方形高度 */
    margin: auto;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

/* 输入框样式 */
.login-container label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    display: block;
}

.login-container input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 按钮样式 */
.login-container button {
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

/* 按钮悬停效果 */
.login-container button:hover {
    background-color: #45a049;
}

/* 底部样式 */
footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1rem;
    text-align: center;
}
